<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <% @report.sections.each do |section| %>
        <tr>
          <th class="section-heading" colspan="4"><%= section.title %></th>
        </tr>
        <% if section.is_a?(Tricle::List) %>
          <%= section.list_markup %>
        <% else %>
          <tr>
            <% @report.headers.each do |header| %>
              <th><%= header.html_safe %></th>
            <% end %>
          </tr>
          <% section.metric_presenters.each do |metric| %>
            <tr>
              <% metric.cells.each do |cell| %>
                <%= cell.html_safe %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </body>
</html>
