<!DOCTYPE html>
<html>
<head>
  <title>Previewer</title>
  <%= stylesheet_link_tag    "previewer/application", media: "all" %>
  <%= javascript_include_tag "previewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
